@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

$accentColor: rgb(96, 96, 255);

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
}

/* button {
  color: rgb(255, 255, 255);
  background: rgb(0, 117, 178);
  font-size: 24px;
  border: none;
} */

strong {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
}

.question {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 50px 0;
  font-weight: 100;
}

.answer-grid {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 50px 0px;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.answer-grid.two-items {
  grid-template-columns: 1fr 1fr;
}

.answer-grid.three-items {
  grid-template-columns: 1fr;
}

.answer-grid > button {
  /* width: 300px; */
  padding: 20px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 200ms ease-out, background-color 50ms ease-out,
    color 50ms ease-out;
  border-color: $accentColor;
  border-width: 2px;
  border-radius: 2px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.answer-grid > button:hover {
  transform: translateY(-3px) scale(1);
  background-color: $accentColor;
  color: white;
}

.answer-grid > button:active {
  transform: translateY(-3px) scale(0.98);
}

/* Ubuntu - header
Open sans - button */

.progress-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: white;
  background: black;
  padding: 20px 0 0 0;
}

.progress {
  width: calc(100% - 2px);
  height: 25px;
  background: white;
  border: 1px solid black;
}

.progress.current {
  background: linear-gradient(to right, transparent 0% 50%, white 50% 100%),
    repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}

.progress.complete {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.progress.first {
  border-radius: 10px 0 0 10px;
}

.progress.last {
  border-radius: 0 10px 10px 0;
}

@keyframes pulse {
  0% {
    background-color: #001f3f;
  }
  50% {
    background-color: $accentColor;
  }
  100% {
    background-color: #001f3f;
  }
}

.progress-bar {
  background: black;
  padding: 0 30px;
}

.progress-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  padding-top: 30px;
  left: calc(50% - 10px);
  position: relative;
}

.progress-triangle.current {
  border-bottom-color: white;
}

.progress-icon {
  max-width: 45px;
  width: 50%;
  margin-bottom: -10px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .progress-bar {
    background: black;
    padding: 0 10px;
  }

  .answer-grid {
    grid-template-columns: 1fr;
  }

  .progress-name {
    // visibility: hidden;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    padding: 0 5px;
  }

  .progress-bar {
    background: black;
    padding: 0 5px;
  }

  .answer-grid {
    grid-template-columns: 1fr;
  }

  .progress-name {
    // visibility: hidden;
    font-size: 0.8rem;
  }
}

.question-description {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-style: italic;
  color: rgb(95, 95, 95);
}
