html,
body {
  overflow: hidden;
}

main {
  margin: 5px;
  border: 1px solid lightgrey;
  padding-bottom: 30px;
  border-radius: 15px;
}

.progress-bar {
  border-radius: 15px 15px 0 0;
}

.footer {
  display: none;
}
