html,
body {
  overflow: hidden;
}

#document {
  display: block;
}

main {
  border: 1px solid lightgrey;
  padding-bottom: 30px;
  border-radius: 15px;
}

.progress-bar {
  border-radius: 15px 15px 0 0;
  border: 2px solid black;
  border-bottom: none;
}

.footer {
  display: none;
}
